@font-face {
  font-family: "CookieRunOTF-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CookieRun-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ELAND_Choice_M";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ELAND_Choice_L";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_L.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Press-Start-2p";
  src: url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap")
    format("ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "CookieRun-Regular";
}

body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  #app {
    background: none !important;
    color: white !important;
    margin: 0;
    div {
      margin-right: 0;
      .v-main {
        overflow: hidden;
        div {
        }
      }
    }
  }
}
