// @font-face {
//   font-family: "CookieRunOTF-Bold";
//   src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff")
//     format("woff");
//   font-weight: normal;
//   font-style: normal;
// }

body {
  // font-family: "CookieRunOTF-Bold", sans-serif;
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  #app {
    background: none !important;
    color: white !important;
    margin: 0;
    div {
      margin-right: 0;
      .v-main {
        div {
        }
      }
    }
  }
}

// header {
//   height: 30vh;
// }

// .toolbar {
//   height: 200px;
// }
// .v-toolbar__content {
//   height: 30vh;
// }

// .header {
//   font-size: 4.5rem;
//   color: white;
// }

// .mainpage-icon {
//   color: white;
//   size: "90";
// }
