@font-face {
  font-family: "Press-Start-2p";
  src: url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap")
    format("ttf");
  font-weight: normal;
  font-style: normal;
}

.game-buttons {
  * {
    font-family: "Press-Start-2p" !important;
  }
  width: 100%;
  height: 10%;
  text-align: center;
  .game-btn {
    display: inline-block;
    margin: 1%;
    width: 15%;
    height: 80%;
    vertical-align: center;
    font-weight: bold;
    // padding: 10px 0 10px 10px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    border-radius: 7px;
    box-shadow: 0.15em 0.3em gray;
    cursor: pointer;
    span {
      font-size: 1.5em;
    }
  }
  .game-btn:active {
    box-shadow: none;
    position: relative;
    top: 0.3em;
  }
}
